---
import {Image} from "astro:assets";
import TP1 from "../assets/TP1.jpg";
import TP2 from "../assets/TP2.jpg";
import TP3 from "../assets/TP3.jpg";
import TP4 from "../assets/TP4.jpg";
import TP5 from "../assets/TP5.jpg";
import TP6 from "../assets/TP6.jpg";

const posts = [
    {
        date: "July 31, 2025",
        title: "How to Get Startup Ideas: 10 Actionable Frameworks in 2025",
        description:
            "In this guide, we explain 10 frameworks you can implement to methodically generate your next company's idea and the key steps to evaluate these ideas.",
        image: TP1.src,
        link: "#",
    },
    {
        date: "July 31, 2025",
        title: "How to Get Startup Ideas: 10 Actionable Frameworks in 2025",
        description:
            "In this guide, we explain 10 frameworks you can implement to methodically generate your next company's idea and the key steps to evaluate these ideas.",
        image: TP2.src,
        link: "#",
    },
    {
        date: "August 5, 2025",
        title: "How and Where To Find a Co-Founder for Your Startup in 2025",
        description:
            "A comprehensive guide on finding co-founders, including what to look for in them, 15 places to find them, how to evaluate them and how to split equity.",
        image: TP3.src,
        link: "#",
    },
    {
        date: "August 5, 2025",
        title: "How and Where To Find a Co-Founder for Your Startup in 2025",
        description:
            "A comprehensive guide on finding co-founders, including what to look for in them, 15 places to find them, how to evaluate them and how to split equity.",
        image: TP4.src,
        link: "#",
    },
    {
        date: "August 5, 2025",
        title: "How and Where To Find a Co-Founder for Your Startup in 2025",
        description:
            "A comprehensive guide on finding co-founders, including what to look for in them, 15 places to find them, how to evaluate them and how to split equity.",
        image: TP5.src,
        link: "#",
    },
    {
        date: "August 5, 2025",
        title: "How and Where To Find a Co-Founder for Your Startup in 2025",
        description:
            "A comprehensive guide on finding co-founders, including what to look for in them, 15 places to find them, how to evaluate them and how to split equity.",
        image: TP6.src,
        link: "#",
    },
];
---

<section class="max-w-7xl mx-auto px-4 py-10">
    <h2 class="text-6xl font-extrabold mb-8">Top Posts</h2>

    <div class="grid gap-8 md:grid-cols-3">
        {posts.map((post) => (
                <a href={post.link} class="group block p-4 rounded-lg bg-gray-200 transform transition duration-300 hover:scale-105">
                    <div class="bg-black w-full aspect-video flex items-center justify-center">
                        <img
                                src={post.image}
                                alt={post.title}
                                class="h-68 w-[500px] "
                        />
                    </div>
                    <p class="text-xl text-gray-500 mt-4">{post.date}</p>
                    <h3 class="text-2xl font-bold mt-4 group-hover:underline">
                        {post.title}
                    </h3>
                    <p class="text-gray-600 text-xl mt-4">{post.description}</p>
                </a>
        ))}
    </div>
</section>
